
/* Phone Screen Flex */
@media only screen and (max-width: 734px) {

#servicesBigBox{
    padding: 15px;
}

#servicesContainer{
    gap: 60px;
}

.priceBox{
    height: auto;
}

#servicesText{
    font-size: 3em;
}

.card{
    min-width: 150px;
    max-width: 150px;
}


.priceText{
    display: none;
}



}



/* Tablet Screem Flex */
@media only screen and (max-width: 1235px)  {

    .priceBox{
        height: 320px;
        width: 615px;
    }

    #leftPirce{
        align-items: center;

    }

    .box{
       flex-wrap: wrap;
       gap: 0;
    }

    #leftBox{
        justify-content: center;
    }

}

@media only screen and (max-width: 1005px)
{


.priceBox{
    width: fit-content;
}

#leftPirce{
    align-items: flex-start;

}

#leftBox{
    justify-content: flex-start;
}

    .box{
        flex-wrap: nowrap;
        gap: 20px;
    }

.servPriceBox{
    gap:100px;
}

    #footer{
        width: 100%;
    }
    #mapText{
        text-align: center;
    }
  .servPriceBox{
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1235px)  {

    .servPriceBox{
        justify-content: space-between;
    }

.box{
    width: 47%;
}
}