
@media only screen and (max-width: 734px) {

#servicesBigBox{
    padding: 15px;
}

#servicesContainer{
    gap: 60px;
}
.servPriceBox
{
    flex-direction: column;
    margin-left: 20px;
    gap: 100px;
}

#servicesText{
    font-size: 3em;
}

.card{
    min-width: 150px;
}

#comCard{
    width: 100px;
}

#gutCard{
    width: 100px;
}

.priceText{
    display: none;
}

.box{
    gap: 20px;
}
}