
/* Phone Screen Flex */
@media only screen and (max-width: 1000px) {

.box{
    gap: 0;
}

#servicesBigBox{
    padding: 15px;
}


.servPriceBox
{
    flex-direction: column;
    margin-left: 20px;
    gap: 100px;
}


#servicesText{
    font-size: 3em;
}

.card{
    min-width: 150px;
    max-width: 150px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}

#comCard{
    width: 100px;
}

#gutCard{
    width: 100px;
}

.priceText{
    display: none;
}

#fixedLogo{
    margin-left: 0;
}

#underSlogan{
    width: 90%;
}

}



/* Tablet Screem Flex */
@media only screen and (max-width: 1235px)  {

    .priceBox{
        width: 615px;
    }

    #leftPirce{
        align-items: center;

    }

   
        .box{
            flex-wrap: wrap;
        }
    

    #leftBox{
        justify-content: center;
    }

}



@media only screen and (max-width: 1005px)
{

    .box{
        flex-direction: column;

    }

.priceBox{
    width: fit-content;
}

#leftPirce{
    align-items: flex-start;

}

#leftBox{
    justify-content: flex-start;
}




    #footer{
        width: 100%;
    }
    #mapText{
        text-align: center;
    }
  .servPriceBox{
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1235px)  {

    .servPriceBox{
        justify-content: space-between;
    }

.box{
    width: 47%;
}
}