
@media only screen and (max-width: 734px) {

.loader{
    flex-direction: column;
    font-size: .7em;
    height: fit-content;
}

#line{
    align-items: center;
}

#line p{
    margin: 0;
}

.words{
    height: 28px;
}

#fixedLogo{
    display: flex;
    justify-content: center;
}


#logoImg{
    left: -30px;

}


#phoneText{
display: block;
font-size: 1.8em;
}

.words span{
    padding-bottom: 1px;
}

#topBarRight{
    flex-wrap: wrap;
    justify-content: space-around;
}

#topBarLeft{
    width: 45%;
}

#topBarPanel{
    width: 100%;
}

    #phoneContainer{
        width: fit-content;
        gap:0;
        position: relative;
        top: -9px;
    }
    .address{
        font-size: 0.8em;
    }

}


@media only screen and (min-width: 1630px)
{
    #topText{
        width: 70%;
    }
}
