
@media only screen and (max-width: 734px) {

.loader{
    flex-direction: column;
    font-size: .79em;
    height: fit-content;
}

#line{
    align-items: center;
}

#line p{
    margin: 0;
}

.words{
    height: 28px;
}

#fixedLogo{
    display: flex;
    justify-content: center;
}



#phoneText{
display: block;
font-size: 1.8em;
}

.words span{
    padding-bottom: 1px;
}


    #phoneContainer{
        display: none;
    }
    .address{
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 1130px)and (min-width: 734px) 
{
    #topText{
        width: 70%;
    }
}
