body, html{

    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: auto;
}


body{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    overflow-x: hidden;


background: linear-gradient(90deg, rgb(255, 255, 255) 0%, hsla(231, 85%, 24%, 1) 92%);

background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, hsla(231, 85%, 24%, 1) 92%);

background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, hsla(231, 85%, 24%, 1) 92%);
}

#global{
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  z-index: 4;
    width: .5em;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #333;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50px;

  }