

#backWhite{
    display: flex;
    flex-direction: column;
    height: 500px;
    background: url('../assets/img/whiteback.png');
    justify-content: center;
    align-items: center;
}

#map{
    display: flex;
}

#mapText{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: 500;
}