/* Services*/
  #pricingContainer{
    display: flex;
    flex-direction: column;
      text-shadow: 1px 0px 1px black;
      padding-top: 120px;
  box-shadow:  inset 0px 5px black;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, hsla(231, 85%, 24%, 1) 92%);

  }

#contText{
    display: flex;
    justify-content: end;
}

  #contText span{
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    color: white;
    background-color: #333;
    border-radius: 20px 0 0 0;
  }


#pricingsBox{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #333;
    padding: 40px;

}

.servPriceBox{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.servPriceBox li{
    color: rgb(185, 185, 185);
}

.price{
    height: fit-content;
}

.priceBox{
    display: flex;
}

.priceLogo{
    color: white;
    font-size: 1.3em;
}

.priceText{
    color: whitesmoke;
}

