/* Services */
#servicesContainer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( 112.1deg, rgba(63,76,119,1) 11.2%,  #202739 11.4%, rgba(63,76,119,1) 70.2% );

}

/* Service boxes */
#servicesBigBox{
    display: flex;
    flex-wrap: wrap;
}


.box{
  display: flex;
  gap: 50px;
}


.card {
  min-width: 190px;
  height: 300px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
 }

 #pruningCard{
  max-width: 190px;
 }

 .card-img{
  transition: .3s ease;
 }
 
 #HomeImg{
  background: url('../assets/img/houseServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #windowImg{
  background: url('../assets/img/windowServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #gutImg{
  background: url('../assets/img/gutterSrv.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #comImg{
  background: url('../assets/img/comServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #lawnImg{
  background: url('../assets/img/lawnServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #treeImg{
  background: url('../assets/img/treeServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 #pruningImg{
  background: url('../assets/img/pruningServ.jpg');
  border-radius: .5rem;
  height: 130px;
  background-position: center;
  background-size: cover;
 }

 .servImg{
  height: 100px;
  object-fit: cover;
 }
 
 .card-info {
  padding-top: 10%;
 }
 

 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(63, 226, 98, 0.25) 0px 13px 47px -5px, rgba(13, 182, 21, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 

 .houseList{
  display: none;
 }